eCase.Service.Client/Service References/eCaseService/eCaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21316/eCaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTupleOfguiddateTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguiddateTime" nillable="true" type="tns:TupleOfguiddateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguiddateTime" nillable="true" type="tns:ArrayOfTupleOfguiddateTime" />
  <xs:complexType name="TupleOfguiddateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguiddateTime" nillable="true" type="tns:TupleOfguiddateTime" />
</xs:schema>